<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {%block title%} {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/navAndFooter.css' %}">
        {%block links%} {% endblock %}
    </head>
    <body>
            <div class="wrapper">
        <nav class="nav">
            <div class="navLogo">
                <img src="{%static 'media/Medical-Logo-Design-Symbol-Icon-on-transparent-background-PNG.png'%}"  alt="">
                <h1>AL-Shefa Medical Center</h1>
            </div>
            <div class="navMenu" id="navMenu">
                <ul>
                    <li><a href="{% url 'home' %}" class="link">Home</a></li>
                    <li><a href="{%url 'about' %}" class="link">About Us</a></li>
                    <li><a href="{% url 'services'%}" class="link">services</a></li>
                    <li><a href="{% url 'patient'%}" class="link">Patient Info</a></li>
                    <li><a href="{% url 'contact' %}" class="link">Contact Us</a></li>
                 

                </ul>
                <div class="navBtn">
                    {%if user.is_authenticated %}
                    <a href="{% url 'logout' %}" id="loginLink"><button class="btn white-button" id="loginBtn"
                          >Logout</button></a>
                    <a href="" id="loginLink"><button class="btn white-button" style="font-weight: 300;" id="loginBtn"
                          >{{user.username}}</button></a>
                    {%else%}
                    <a href="{% url 'login' %}" id="loginLink"><button class="btn white-button" id="loginBtn"
                            onclick="handleLoginClick()">Sign In</button></a>
                    <a href="{% url 'register' %}" id="registerLink"><button class="btn" id="registerBtn">Sign Up</button></a>

                    {%endif%}
                
                </div>
                
            </div>
            
            <!-- <div class="navBtn">
               <a href="./pages/login.html" id="loginLink"><button class="btn white-button" id="loginBtn" onclick="handleLoginClick()">Sign In</button></a> 
               <a href="./pages/register.html" id="registerLink"><button class="btn" id="registerBtn">Sign Up</button></a> 
                <a href="" id="myUserName" >
                   <button class="btn" id="userName1" ></button>
                </a>
            
            </div> -->
           
            <div class="navMenuBtn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>

        </nav>
        
        {% block contanier%} {% endblock %}
    
    <footer id="footer">
       <div id="topFooter">
            <div id="locationFooter">
                <h4>Location</h4>
                <p>Jabal Amman, 5th Circle Khalil Mizel
                    <br>
                    Street Amman – Jordan
                </p>
            </div>
            <div id="pages">
                <h4>Pages</h4>
                <ul>
                    <li><a href="./index.html" class="link">Home</a></li>
                    <li><a href="./pages/services.html" class="link">services</a></li>
                    <li><a href="./pages/about.html" class="link">About Us</a></li>
                    <li><a href="./pages/patientInfo.html" class="link">Patient Info</a></li>
                    <li><a href="./pages/contact.html" class="link">Contact Us</a></li>
                </ul>
            
            </div>
            <div id="emergencyAndOpenHour">
                <div id="emergency">
                    <h4>Emergency</h4>
                    <p>+ 962 798675601</p>
                </div>
                <div id="openHours">
                    <h4>Visiting Hours</h4>
                    <p>General Visiting Hours: <br>
                        8:00 a.m. – 04:00 p.m.
                </div>
            </div>
            <div id="socialMedia">
                <h4>Social Media</h4>
                <i class='bx bxl-facebook-circle' style='color:#3435a2'></i>
                <i class='bx bxl-twitter' style='color:#3536a5'></i>
                <i class='bx bxl-instagram' style='color:#3435a2'></i>
                <i class='bx bxl-linkedin-square' style='color:#3435a2'></i>
            </div>
       </div>
       <div id="bottomFooter">
           <span>&copy; Copyright 2018. All Rights Reserved. Al Shifa'a Medical Center
        By Management Information Systems Department</span>
       </div>

    </footer>
    <script src="{% static 'js/navAndFooter.js' %}"></script>
    {%block script%} {% endblock %}
    </body>
</html>