{% extends "base.html" %}

    {%load static%}
    {%block title %}Home{% endblock %}
    {% block links %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="./media/logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
     <link rel="stylesheet" href="{% static 'css/home.css' %}">
   
    {% endblock %}

{%block contanier%}

        
        <section id="mainDiv">
            <div id="mainDivOne">
                <div id="pageTilte">
                    <h1>Find a Doctor &
                        <br>
                        Book Appointment
                    </h1>
                </div>
                <div id="paragraphText">
                    <p>Since the first days of operation of medify, our teaming has been focused on building a high-qualities medical services
                    </p>
                </div>
                <div id="bookBtn">
                    <a href="{% url 'appointment' %}" >Book Appointment</a>
                    
                </div>
                
            </div>
         
            <div id="imgDoc">
                <img src="{% static 'media/doctortreatpatient.jpg' %}" alt="">
            </div>

        </section>
        

        <section id="aboutUs">
            <div id="aboutUsHP">
                <div id="aboutUsHead">
                    <div id="aboutUsHeadingText">
                        <h2>About Us</h2>
                        <p>Providing Top Quality Healthcare Services in Jordan Since 2005</p>
                    </div>
                </div>
                <div id="aboutUsParagraph">
                    <p>
                        Welcome to Al Shifaa Medical Center, a trusted healthcare provider committed to delivering quality medical services
                        since our establishment in 2005. At Al Shifaa, we prioritize the well-being of our patients, offering a comprehensive
                        range of medical services with a focus on personalized care.
                    </p>
                    <a href="{%url 'about'%}">Read More</a>
                </div>
                <div>

                </div>
            </div>
            <div id="aboutUsImg">
                <img src="{% static 'media/aboutUsindex.jpg' %}" alt="">
            </div>
            

        </section>

            <section id="ourServices">
            
                <div class="servicesHeadingText">
                    <h2>Our Services</h2>
                    <p>High Quality Services For You</p>
            
            
                </div>
                <!-- ----------box contanier-------------- -->
                <div class="serviceBoxContainer">
                    <div class="servicesSlideBtn">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper mySwiperServices">
                        <div class="swiper-wrapper">
                            <!-- ---slide1----- -->
                                {% for i in service %}
                                <div class="swiper-slide">
                                    <div class="servicesBox box1">
                                        <i class="{{i.icon}}"></i>
                                        <strong>{{i.name}}</strong>
                                        <p>{{ i.description|slice:":50" }}</p>
                                        <a href="{{i.get_absolute_url}}">Read More</a>
                                    </div>
                                </div>
                                {%endfor%}
                            <!-- ---end slide---- -->

            
                        </div>
                    </div>
            
                </div>
               
            </section>

            <section id="ourDoctors">
            
                <div class="doctorsHeadingText">
                    <h2>Our Doctors</h2>
                    <p>Meet our experienced team of healthcare professionals.</p>
            
            
                </div>
                <!-- ----------box contanier-------------- -->
                <div class="doctorBoxContainer">
                    <div class="servicesSlideBtn">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper mySwiperServices">
                        <div class="swiper-wrapper">
                            <!-- ---slide1----- -->
                            {% for i in doctor %}
                            <div class="swiper-slide">
                                <div class="doctorBox box1">
                                    <img src="{{i.image.url}}" id="img1" alt="">
                                    <strong>{{i.name}}</strong>
                                    <p>{{ i.service }}</p>
                            
                                </div>
                            </div>
                            {%endfor%}
                            <!-- ---end slide---- -->
            
            
                        </div>
                    </div>
            
                </div>
            
            </section>
        
    

{%endblock%}
    

           
{%block script %}  

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{%static 'js/home.js'%}"></script>

{% endblock %}

{% load sweetify %}
{% sweetify %}
