{% extends "base.html" %}

    {%load static%}
    {%block title %}Patient Information{% endblock %}
    {% block links %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/patientInfo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'media/logo.jpg' %}">

    {% endblock %}

{%block contanier%}
<section id="patientInfo">
            <div id="patientHeading">
                <h1>Patient Informaton</h1>
            </div>
            <div id="infoContainer">
                <div id="top">
                    <div id="personal">
                        <i class="fa-regular fa-circle-user"></i>
                        <strong>Personal Information</strong>
                        <p>Patient Name: <span id="name"></span></p>
                        <p>Date Of Birth: <span id="dof"></span></p>
                        <p>Contact Number: <span id="cn"></span></p> 
                        <p>Age: <span id="cn"></span></p>


                    </div>
                
                
                </div>
                <div id="left">
                    <div id="vitalSign">
                        <i class="fa-solid fa-bed-pulse"></i>
                        <strong>Vital Signs</strong>
                        <div id="vitalP">
                            <div class="vitalIcon">
                                <i class='bx bx-pulse' style='color:#373499'></i>
                                <P>Blood Pressure</P>
                                <span></span>
                            </div>
                            <div class="vitalIcon">
                                <i class="fa-solid fa-heart-pulse"></i>
                                <p>Heart Rate</p>
                                <span></span>
                            </div>
                            <div class="vitalIcon">
                                <i class="fa-solid fa-temperature-low"></i>
                                <p>Temperture</p>
                                <span></span>
                            </div>
                
                        </div>
                
                    </div>
                    <div id="appointmentDetail">
                        <i class="fa-regular fa-calendar-check"></i>
                        <strong>Appointment Detials</strong>
                        <p>Date: <span id="appDate"></span></p>
                        <p>Time: <span id="appTime"></span></p>
                        <p>Selected Services:
                             <span id="services1" style="display: block;"></span>
                             <span id="services2" style="display: block;"></span>
                             <span id="services3" style="display: block;"></span>
                             <span id="services4" style="display: block;"></span>
                        </p>
                    </div>
                </div>
            </div>
            
           
        </section>

{%endblock%}
    

           
{%block script %}  

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/patientinfo.js' %}"></script>
{% endblock %}
