{% extends "base.html" %}

    {%load static%}
    {%block title %}Patient Information{% endblock %}
    {% block links %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/patientInfo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'media/logo.jpg' %}">

    {% endblock %}

{%block contanier%}
<section id="patientInfo">
            <div id="patientHeading">
                <h1>Patient Informaton</h1>
            </div>
            <div id="infoContainer">
                <div id="top">
                    <div id="personal">
                        <i class="fa-regular fa-circle-user"></i>
                        <strong>Personal Information</strong>
                        <p>Patient Name: <span id="name">{{appointment.patient}}</span></p>
                        <p>Date Of Birth: <span id="dof">{{patient_info.dateOfBirth}}</span></p>
                        <p>Contact Number: <span id="cn">{{appointment.contact_num}}</span></p> 
                        <p>Gender: <span id="cn">
                        {% if patient_info.gender == 'M' %}
                        Male
                        {% elif patient_info.gender == 'F' %}
                        Female
                        {% else %}
                        Other
                        {% endif %}</span></p>


                    </div>
                
                
                </div>
                <div id="left">
                    <div id="vitalSign">
                        <i class="fa-solid fa-bed-pulse"></i>
                        <strong>Vital Signs</strong>
                        <div id="vitalP">
                            <div class="vitalIcon">
                                <i class='bx bx-pulse' style='color:#373499'></i>
                                <P>Blood Pressure</P>
                                <span></span>
                            </div>
                            <div class="vitalIcon">
                                <i class="fa-solid fa-heart-pulse"></i>
                                <p>Heart Rate</p>
                                <span></span>
                            </div>
                            <div class="vitalIcon">
                                <i class="fa-solid fa-temperature-low"></i>
                                <p>Temperture</p>
                                <span></span>
                            </div>
                
                        </div>
                
                    </div>
                    <div id="appointmentDetail">
                        <i class="fa-regular fa-calendar-check"></i>
                        <strong>Appointment Detials</strong>
                        <p>Date: <span id="appDate">{{appointment.appointment_date}}</span></p>
                        <p>Time: <span id="appTime">{{appointment.appointment_time}}</span></p>
                        <p>Selected Services:
                             <span id="services1" style="display: block;">{{appointment.service}}</span>
                        <p>Doctor Name: <span id="appTime">{{appointment.doctor}}</span></p>


                        <form action="{% url 'patient' pk=appointment.pk %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit"><i class='bx bxs-trash' style='color:#10305e;font-size: 15px;'></i>Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            
           
        </section>

{%endblock%}
    

           
{%block script %}  

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/patientinfo.js' %}"></script>
{% endblock %}
