{% extends "base.html" %}

{%load static%}
{%block title %}Services{% endblock %}
{% block links %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<link rel="shortcut icon" href="{% static 'media/logo.jpg' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{%block contanier%}

<!-- services -->

<section id="servicesInfo">
    <div class="servicesInfo1" >
            <h2>{{service.name}}</h2>
            <div class="innerServicesInfo">
                <img src="{{service.image.url}}" id="img1" alt="">

                <p>
                    {{service.description}}
                </p>

            </div>
    </div>

</section>

 
{%endblock%}



{%block script %}


{% endblock %}